<div class="hero-body has-background-dark">
            <div class="container has-text-centered">
                <div class="column is-4  is-offset-4">
                         <label style="font-size: 22px; color:black">
                       Contact:
                         </label>
                         <br>
                         <label style="font-size: 18px; color:white">
                             <hr>
                                <ul>
                                    <li>ig: kaulinfinity</li>
                                <div class="is-divider" data-content="OR"></div>
                                    <li>email: shuhulkaul22@gmail.com</li>
                                </ul>
                         </label>
                   
                </div>
            </div>
</div>
            