<script>
    function alpha(letter)
    {
        if(letter=="Clear")
        {
           document.getElementById('mainText').value=null;
        }
        else if(letter=="Backspace")
        {
          document.getElementById('mainText').value=document.getElementById('mainText').value.substring(0, document.getElementById('mainText').value.length - 1);
        }
        else if(letter == "Space")
        {
            document.getElementById('mainText').value=document.getElementById('mainText').value+" ";
        }
        else
        {
            document.getElementById('mainText').value=document.getElementById('mainText').value+letter;
        }
    }
   
</script>
   <label style="color:red">{{{msg}}}</label>
<form method="post">
  {{!-- <textarea ></textarea> --}}
  <div class="field">
  <label class="label">Text</label>
  <div class="control">
    <textarea class="textarea" name="text" id="mainText"></textarea>
  </div>
</div>

  <table>
<tr>
<td><input type="button" class="button is-info is-inverted is-large is-fullwidth"  onclick="alpha('Clear')" value="Clear"></td>
<td><input type="button" class="button is-info is-inverted is-large is-fullwidth"  onclick="alpha('Backspace')" value="Backspace"></td>
<td><input type="button" class="button is-info is-inverted is-large is-fullwidth"  onclick="alpha('Space')" value="Space"></td>
</tr>
</table>
<hr>
<div class="columns">
  <div class="column is-one-third">
      <div class="control">
    <div class="select is-primary">
      <select name="size">
        <option value="" selected>Text Size</option>
        <option value="50pt">50 pt</option>
        <option value="100pt">100 pt</option>
        <option value="150pt">150 pt</option>
        <option value="200pt">200 pt</option>
      </select>
    </div>
  
    <div class="select is-info">
     
      <select name="bgColor">
        <option value="" selected>Background Color</option>
        <option value="orange" >Orange</option>
        <option value="black">Black</option>
        <option value="white">White</option>
        {{!-- <option value="red">Red</option> --}}
        <option value="green">Green</option>
        {{!-- <option value="blue">Blue</option> --}}
      </select>
    </div>

    <div class="select is-success">
      
      <select name="textColor">
        <option value="" selected>Text Color</option>
        <option value="orange">Orange</option>
        <option value="black">Black</option>
        <option value="white" >White</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
      </select>
    </div>
  </div>
  <br>
  <input type="submit" class="button is-info " value="Download as Image" formaction="/downloadImage">
  <input type="submit" class="button is-info "  value="Download as PDF" formaction="/downloadPDF">
  </form>
  <hr>
 <table class="table is-bordered is-striped is-narrow is-hoverable">
<tr>
<td><input type="button" class="button"  onclick="alpha('s')" value="क"></td>
<td><input type="button" class="button"  onclick="alpha('v')" value="ख"></td>
<td><input type="button" class="button"  onclick="alpha('u')" value="ग"></td>
<td><input type="button"  class="button" onclick="alpha('3')" value="घ"></td>
<td><input type="button" class="button"  onclick="alpha('r')" value="च"></td>
<td><input type="button"  class="button" onclick="alpha('5')" value="छ"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('h')" value="ज"></td>
<td><input type="button"  class="button" onclick="alpha('~')" value="झ"></td>
<td><input type="button" class="button"  onclick="alpha('`')" value="ञ"></td>
<td><input type="button" class="button"  onclick="alpha('6')" value="ट"></td>
<td><input type="button" class="button"  onclick="alpha('7')" value="ठ"></td>
<td><input type="button" class="button"  onclick="alpha('8')" value="ड"></td>
</tr>
<tr>
<td><input type="button"  class="button" onclick="alpha('9')" value="ढ"></td>
<td><input type="button"  class="button" onclick="alpha('0')" value="ण"></td>
<td><input type="button" class="button"  onclick="alpha('t')" value="त"></td>
<td><input type="button"  class="button" onclick="alpha('y')" value="थ"></td>
<td><input type="button" class="button"  onclick="alpha('b')" value="द"></td>
<td><input type="button"  class="button" onclick="alpha('w')" value="ध"></td>
</tr>
<tr>
<td><input type="button" class="button"   onclick="alpha('4')" value="द्ध"></td>
<td><input type="button"  class="button" onclick="alpha('g')" value="न"></td>
<td><input type="button"  class="button" onclick="alpha('k')" value="प"></td>
<td><input type="button" class="button"  onclick="alpha('m')" value="फ"></td>
<td><input type="button" class="button"  onclick="alpha('a')" value="ब"></td>
<td><input type="button" class="button"  onclick="alpha('e')" value="भ"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('d')" value="म"></td>
<td><input type="button" class="button"  onclick="alpha('o')" value="य"></td>
<td><input type="button" class="button"  onclick="alpha('/')" value="र"></td>
<td><input type="button" class="button"  onclick="alpha('n')" value="ल"></td>
<td><input type="button" class="button"  onclick="alpha('j')" value="व"></td>
<td><input type="button" class="button"  onclick="alpha('x')" value="ह"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('z')" value="श"></td>
<td><input type="button" class="button"  onclick="alpha('i')" value="ष"></td>
<td><input type="button" class="button"  onclick="alpha(';')" value="स"></td>
<td><input type="button" class="button"  onclick="alpha('{')" value="क्ष"></td>
<td><input type="button" class="button"  onclick="alpha('q')" value="त्र"></td>
<td><input type="button" class="button"  onclick="alpha('1')" value="ज्ञ"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('c')" value="अ"></td>
<td><input type="button" class="button"  onclick="alpha('p')" value="आ"></td>
<td><input type="button" class="button"  onclick="alpha('Q')" value="इ"></td>
<td><input type="button" class="button"  onclick="alpha('K')" value="ई"></td>
<td><input type="button" class="button"  onclick="alpha('\\')" value="उ"></td>
<td><input type="button" class="button"  onclick="alpha('|')" value="ऊ"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('f')" value="ा"></td>
<td><input type="button" class="button"  onclick="alpha('l')" value="ि"></td>
<td><input type="button" class="button"  onclick="alpha('L')" value="ी"></td>
<td><input type="button" class="button"  onclick="alpha('\'')" value="ु"></td>
<td><input type="button" class="button"  onclick="alpha('&quot;')" value="ू"></td>
</tr>
<tr>
<td><input type="button"  class="button" onclick="alpha('Z')" value="ॠ"></td>
<td><input type="button"  class="button" onclick="alpha(':')" value="ए"></td>
<td><input type="button"  class="button" onclick="alpha(':}')" value="ऐ"></td>
<td><input type="button"  class="button" onclick="alpha('W')" value="ओ"></td>
<td><input type="button"  class="button" onclick="alpha('X')" value="औ"></td>
<td><input type="button" class="button"  title="OM" onclick="alpha('<')" value="ॐ"></td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('[')" value="ृ"></td>
<td><input type="button" class="button"  onclick="alpha('}')" value="े"></td>
<td><input type="button" class="button"  onclick="alpha(']')" value="ै"></td>
<td><input type="button" class="button"  onclick="alpha('P')" value="ो"></td>
<td><input type="button" class="button"  onclick="alpha('O')" value="ौ"></td>
<td><input type="button" class="button"  title="danda" onclick="alpha('.')" value="।"></td>
</tr>
<tr>
<td><input type="button" class="button"  title="virama" onclick="alpha('2')" value="्"></td>
<td><input type="button" class="button"  title="anusvara" onclick="alpha('+')" value="ं"></td>
<td><input type="button" class="button"  title="visarga" onclick="alpha('M')" value="ः"></td>
<td><input type="button" class="button"  title="nukta" onclick="alpha('=')" value="़"></td>
<td><input type="button"  class="button" title="double danda" onclick="alpha('..')" value="॥"></td>
</tr>
<tr>
<td><input type="button" class="button"   onclick="alpha('-')" value="("></td>
<td><input type="button" class="button"   onclick="alpha('_')" value=")"></td>
<td><input type="button"  class="button"  onclick="alpha(',')" value=","></td>
<td><input type="button" class="button"   onclick="alpha(')')" value="."></td>
{{!-- <td><input type="button"    onclick="alpha('>')" value="!"></td> --}}
<td><input type="button"  class="button"  onclick="alpha('?')" value="?"></td>
{{!-- <td><input type="button"    onclick="alpha('A')" value="quote"></td>
<td><input type="button"    onclick="alpha('B')" value="unquote"></td> --}}
</tr>
{{!-- <tr>
<td><input type="button"    onclick="alpha('C')" value="\'"></td>
<td><input type="button"    onclick="alpha('D')" value="\'"></td>
<td><input type="button"    onclick="alpha('E')" value="+"></td>
<td><input type="button"    onclick="alpha('F')" value="-"></td>
<td><input type="button"    onclick="alpha('G')" value="division sign"></td>
</tr> --}}
{{!-- <tr>
<td><input type="button"    onclick="alpha('H')" value="*"></td>
<td><input type="button"    onclick="alpha('I')" value="'\'"></td>
<td><input type="button"    onclick="alpha('J')" value="/"></td>
<td><input type="button"    onclick="alpha('U')" value="<"></td>
<td><input type="button"    onclick="alpha('V')" value=">"></td>
</tr> --}}
</tbody>
{{!-- <tr class="arial"> 
<td><input type="button"   onclick="alpha('S')" value="क"></td>
<td><input type="button"   onclick="alpha('N')" value="ल"></td>
<td><input type="button"   onclick="alpha('R')" value="छ"></td>
<td><input type="button"   onclick="alpha('T')" value="त"></td>
</tr></tbody> --}}

</tbody>
<br>
</td>
</tr>
</tbody></table>

</div>
<div class="column is-one-third">
<div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable">
<tr class="arial"> 
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha(')')" value="०"></td>
<td><input type="button" class="button"  onclick="alpha('!')" value="१"></td>
<td><input type="button" class="button"  onclick="alpha('@')" value="२"></td>
<td><input type="button" class="button"  onclick="alpha('#')" value="३"></td>
<td><input type="button" class="button"  onclick="alpha('$')" value="४"></td>
</tr>
<tr>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><input type="button" class="button"  onclick="alpha('%')" value="५"></td>
<td><input type="button" class="button"  onclick="alpha('^')" value="६"></td>
<td><input type="button" class="button"  onclick="alpha('&')" value="७"></td>
<td><input type="button" class="button"  onclick="alpha('*')" value="८"></td>
<td><input type="button" class="button"  onclick="alpha('(')" value="९"></td>
</tr>
</table>

</div>
</div>
</div>
