<script>
    function alpha(letter)
    {
        if(letter=="Clear")
        {
           document.getElementById('mainText').value=null;
        }
        else if(letter=="Backspace")
        {
          document.getElementById('mainText').value=document.getElementById('mainText').value.substring(0, document.getElementById('mainText').value.length - 1);
        }
        else if(letter == "Space")
        {
            document.getElementById('mainText').value=document.getElementById('mainText').value+" ";
        }
        else
        {
            document.getElementById('mainText').value=document.getElementById('mainText').value+letter;
        }
    }
</script>

  <textarea id="mainText"></textarea>

<div class="container is-centered">
<div class="box has-background-white">
<table>
<tr>
<td><input type="button"   onclick="alpha('Clear')" value="Clear"></td>
<td><input type="button"   onclick="alpha('Backspace')" value="Backspace"></td>
<td><input type="button"   onclick="alpha('Space')" value="Space"></td>
<td><input type="button"   style="color: red" value="Download[BETA]"></td>
</tr>
</table>
<hr>
<table>
<tr>
<td><input type="button"   onclick="alpha('s')" value="क"></td>
<td><input type="button"   onclick="alpha('v')" value="ख"></td>
<td><input type="button"   onclick="alpha('u')" value="ग"></td>
<td><input type="button"   onclick="alpha('3')" value="घ"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('r')" value="च"></td>
<td><input type="button"   onclick="alpha('5')" value="छ"></td>
<td><input type="button"   onclick="alpha('h')" value="ज"></td>
<td><input type="button"   onclick="alpha('~')" value="झ"></td>
<td><input type="button"   onclick="alpha('`')" value="ञ"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('6')" value="ट"></td>
<td><input type="button"   onclick="alpha('7')" value="ठ"></td>
<td><input type="button"   onclick="alpha('8')" value="ड"></td>
<td><input type="button"   onclick="alpha('9')" value="ढ"></td>
<td><input type="button"   onclick="alpha('0')" value="ण"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('t')" value="त"></td>
<td><input type="button"   onclick="alpha('y')" value="थ"></td>
<td><input type="button"   onclick="alpha('b')" value="द"></td>
<td><input type="button"   onclick="alpha('w')" value="ध"></td>
<td><input type="button"    onclick="alpha('4')" value="द्ध"></td>
<td><input type="button"   onclick="alpha('g')" value="न"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('k')" value="प"></td>
<td><input type="button"   onclick="alpha('m')" value="फ"></td>
<td><input type="button"   onclick="alpha('a')" value="ब"></td>
<td><input type="button"   onclick="alpha('e')" value="भ"></td>
<td><input type="button"   onclick="alpha('d')" value="म"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('o')" value="य"></td>
<td><input type="button"   onclick="alpha('/')" value="र"></td>
<td><input type="button"   onclick="alpha('n')" value="ल"></td>
<td><input type="button"   onclick="alpha('j')" value="व"></td>
<td><input type="button"   onclick="alpha('x')" value="ह"></td>
</tr>
</table>
<table>
<tr>
<td><input type="button"   onclick="alpha('z')" value="श"></td>
<td><input type="button"   onclick="alpha('i')" value="ष"></td>
<td><input type="button"   onclick="alpha(';')" value="स"></td>
<td><input type="button"   onclick="alpha('{')" value="क्ष"></td>
<td><input type="button"   onclick="alpha('q')" value="त्र"></td>
<td><input type="button"   onclick="alpha('1')" value="ज्ञ"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('o')" value="य"></td>
<td><input type="button"   onclick="alpha('/')" value="र"></td>
<td><input type="button"   onclick="alpha('n')" value="ल"></td>
<td><input type="button"   onclick="alpha('j')" value="व"></td>
<td><input type="button"   onclick="alpha('x')" value="ह"></td>
<td><input type="button"   onclick="alpha('z')" value="श"></td>
<td><input type="button"   onclick="alpha('i')" value="ष"></td>
<td><input type="button"   onclick="alpha(';')" value="स"></td>
<td><input type="button"   onclick="alpha('{')" value="क्ष"></td>
<td><input type="button"   onclick="alpha('q')" value="त्र"></td>
<td><input type="button"   onclick="alpha('1')" value="ज्ञ"></td>
</tr>
</table>
<table>
<tr>
<td><input type="button"   onclick="alpha('c')" value="अ"></td>
<td><input type="button"   onclick="alpha('p')" value="आ"></td>
<td><input type="button"   onclick="alpha('Q')" value="इ"></td>
<td><input type="button"   onclick="alpha('K')" value="ई"></td>
<td><input type="button"   onclick="alpha('\\')" value="उ"></td>
<td><input type="button"   onclick="alpha('|')" value="ऊ"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('f')" value="ा"></td>
<td><input type="button"   onclick="alpha('l')" value="ि"></td>
<td><input type="button"   onclick="alpha('L')" value="ी"></td>
<td><input type="button"   onclick="alpha('\'')" value="ु"></td>
<td><input type="button"   onclick="alpha('&quot;')" value="ू"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('Z')" value="ॠ"></td>
<td><input type="button"   onclick="alpha(':')" value="ए"></td>
<td><input type="button"   onclick="alpha(':}')" value="ऐ"></td>
<td><input type="button"   onclick="alpha('W')" value="ओ"></td>
<td><input type="button"   onclick="alpha('X')" value="औ"></td>
</tr>
<tr>
<td><input type="button"   onclick="alpha('[')" value="ृ"></td>
<td><input type="button"   onclick="alpha('}')" value="े"></td>
<td><input type="button"   onclick="alpha(']')" value="ै"></td>
<td><input type="button"   onclick="alpha('P')" value="ो"></td>
<td><input type="button"   onclick="alpha('O')" value="ौ"></td>
</tr>
<tr>
<td><input type="button"   title="virama" onclick="alpha('2')" value="्"></td>
<td><input type="button"   title="anusvara" onclick="alpha('+')" value="ं"></td>
<td><input type="button"   title="visarga" onclick="alpha('M')" value="ः"></td>
<td><input type="button"   title="nukta" onclick="alpha('=')" value="़"></td>

</tr>
<tr> 

<tr> 
<td><input type="button"    onclick="alpha('-')" value="("></td>
<td><input type="button"    onclick="alpha('_')" value=")"></td>
<td><input type="button"    onclick="alpha(',')" value=","></td>
<td><input type="button"    onclick="alpha('=')" value="."></td>
<td><input type="button"    onclick="alpha('>')" value="!"></td>
<td><input type="button"    onclick="alpha('?')" value="?"></td>
<td><input type="button"    onclick="alpha('A')" value="quote"></td>
<td><input type="button"    onclick="alpha('B')" value="unquote"></td>
</tr>
<tr>
<td><input type="button"    onclick="alpha('C')" value="\'"></td>
<td><input type="button"    onclick="alpha('D')" value="\'"></td>
<td><input type="button"    onclick="alpha('E')" value="+"></td>
<td><input type="button"    onclick="alpha('F')" value="-"></td>
<td><input type="button"    onclick="alpha('G')" value="division sign"></td>
</tr>
<tr>
<td><input type="button"    onclick="alpha('H')" value="*"></td>
<td><input type="button"    onclick="alpha('I')" value="'\'"></td>
<td><input type="button"    onclick="alpha('J')" value="/"></td>
<td><input type="button"    onclick="alpha('U')" value="<"></td>
<td><input type="button"    onclick="alpha('V')" value=">"></td>
</tr>
</tbody></table>
<table>
 
<tr>Subscripts</tr>
<tr class="arial"> 
<td><input type="button"   onclick="alpha('S')" value="क"></td>
<td><input type="button"   onclick="alpha('N')" value="ल"></td>
<td><input type="button"   onclick="alpha('R')" value="छ"></td>
<td><input type="button"   onclick="alpha('T')" value="त"></td>
</tr></tbody>
</table>
<table >
 <tr class="arial"> 
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><input type="button"   onclick="alpha(')')" value="०"></td>
<td><input type="button"   onclick="alpha('!')" value="१"></td>
<td><input type="button"   onclick="alpha('@')" value="२"></td>
<td><input type="button"   onclick="alpha('#')" value="३"></td>
<td><input type="button"   onclick="alpha('$')" value="४"></td>
<td><input type="button"   onclick="alpha('%')" value="५"></td>
<td><input type="button"   onclick="alpha('^')" value="६"></td>
<td><input type="button"   onclick="alpha('&')" value="७"></td>
<td><input type="button"   onclick="alpha('*')" value="८"></td>
<td><input type="button"   onclick="alpha('(')" value="९"></td>
</tr>
<tr>
<td><input type="button"   title="danda" onclick="alpha('.')" value="।"></td>
<td><input type="button"   title="double danda" onclick="alpha('..')" value="॥"></td>
<td><input type="button"   title="OM" onclick="alpha('<')" value="ॐ"></td>
</tr>
</tbody>
<br>
</td>
</tr>
</tbody></table>
</div>
 </div>